.header {
    text-align: center;
    padding: 0 auto;
}
body { 
    text-align: center;
}

.spacer{
    margin: 10rem;
}

.E404 {
    text-align: center;
    padding: 10rem;
    font-size: xx-large;
}